

.header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;

  nav
  {
    ul
    {
      width: 100%;
      min-width: 280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a{
      @include font(400,16px,20px,)
    }
  }

  .buttons
  {
    display: flex;
    align-items: center;
    gap: 30px;
    
  }

}
