
.hero
{
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 150px;

  &__wrapper{
    max-width: 520px
  }
  
  .hero__start
  {
    @include font(400,18px,30px,#F54749);
    padding: 10px 20px 10px 20px;
    background-color: hsla(359, 90%, 62%, 0.1);
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #f5474a00;

    

    &::before
    {
      content: url("../../img/Frame-delivery.svg");
      position: absolute;
      width: 33px;
      height: 33px;
      margin-left: 10px;
      left: -63px;
      transition: 3s;
      z-index: -1;
    }


    &::after
    {
      content: url("../../img/Frame-delivery.svg");
      position: relative;
      width: 33px;
      height: 33px;
      margin-left: 10px;
      transition: 3s;

    }

    &:active
    {
      border: 1px solid #f5474a27;
    }

    &:focus
    {

      &::before
      {

        animation-name: asd;
        animation-duration:3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        transition: all 3s linear 0s;
      }

      &::after
      {

        animation-name: asd;
        animation-duration:3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;

      }
    
    }

  }


  @keyframes asd
  {

    100%
    {
      transform: translateX(187px)
    }

  }

  .hero__title
  {
    @include font(700,80px,100px,#141123);
    padding: 10px 0 25px;

    span{
      color: #F54749;
    }

  }

  .hero-text{
    @include font(400,20px,30px,#241415);
    opacity: 60%;
    margin-bottom: 50px;
  }

  .hero__buttons
  {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .button
    {
      padding: 20px 57px;
    }

  }

  .hero__button
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .vidio-anim
  {
    position: relative;
    padding: 10px 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;


    span
    {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      animation-name: play;
      animation-duration:2s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      z-index: -1;
    }

    .span-2
    {
      animation-name: play-2;
      animation-duration:2s;
      animation-delay: 2s;
      z-index: -1;
    }

    &__box
    {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color:#FDE5E5;

    }

  }


  @keyframes play
  {
    100%
    {
      width: 100%;
      height: 100%;
      background-color: #f5474a1a;
    }

  }


  @keyframes play-2
  {
    100%
    {
      width: 100%;
      height: 100%;
      background-color: #f5474a1a;
    }
  }


  .hero-customer
  {
    display: flex;
    align-items: center;

    &__imgs{
      display: flex;


      img
      {
        position: relative;

        &:nth-child(2 )
        {
          left: -15px;
        }
        
        &:nth-child(3 )
        {
          left: -30px;
        }
        
        &:nth-child(4 )
        {
          left: -45px;
        }
      }


    }

    &__inner
    {
      &--title{
        @include font(700,20px,30px);

      }

      &--info{
        display: flex;
        align-items: center;

        img{
          margin-right: 10px;
        }

        p{
          @include font(700,16px,30px);
          margin-right: 5px;
        }

        span{
          @include font (400,16px,30px,#3D3333)
        }

      }

    }


  }

  &__box
  {
    position: relative;
  }

  &__box-info{
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;

    border: 1px solid #ffffff00;
    animation-name: hero-info-border;
    animation-duration:3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


    box-shadow: 0px 4px 20px 0px #00000008;
    border-radius: 10px;

    &--box{
      max-width: 270px;
      padding: 10px;
      background: #FFFFFFB2;
      border-radius: 10px;
      box-shadow: 0px 4px 20px 0px #00000008;
      display: flex;
      align-items: center;


      
      p{
        @include font(400,16px,22px);
        color: #241415;
        opacity: 80%;
      }


    }

  }

  @keyframes hero-info-border {

    100%
    {
      border: 1px solid #FFFFFFB2;
    }
    
  }





}


